.alert {
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: var(--accent-2);
  color: var(--accent-text);
}

.new-visualizer-window {
  display: block;
  margin-block-end: 0.5rem;
}

.inline-form {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  align-items: center;
}

.inline-form > * {
  margin: 0;
}
